@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<body>
    <form>
        <h1>Employee Registration Form</h1>

        @Html.Label("Id","Id");
        @Html.TextBox("txtId","",new {@class="form-control",placeholder="Id"})

        @Html.Label("Name","Name");
        @Html.TextBox("txtname","",new {@class="form-control",placeholder="Name"})

        @Html.Label("Role","Role");
        @Html.TextBox("txtRole","",new {@class="form-control",placeholder="Role"})


    </form>
</body>
